<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faizan.voxoxdriver">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
        android:name=".Bean"
        android:allowBackup="true"
        android:icon="@drawable/gig"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cab_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity android:name=".CurrentBalanceStatement" />
        <activity android:name=".OperatorBill" />
        <activity android:name=".EarningByDay" />
        <activity android:name=".BankByDay" />
        <activity android:name=".FinalBankTranfer" />
        <activity android:name=".NetEarning" />
        <activity android:name=".IncentiveBreakup" />
        <activity android:name=".IncentiveEligibleOperatorBill" />
        <activity android:name=".ActualOperatorBill" />
        <activity android:name=".BookingDetails" />
        <activity android:name=".loginActivity">

        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>